<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Msite</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">


    <h2>О сайте</h2>
    <img src="logo.png" width="70" height="70" alt="Логотип" class="left-img"/>
  <nav>
    <a href = "/about">О сайте</a>
    <a href = "/head">Главная</a>
    <a href = "/login">Авторизация</a>
    </nav>

    <br><br>


    <br> <br>
        <p> Msite - является образовательным ресурсом для новичков в Java. <br>
            В нем Вы сможете на расшифровку популярных терминов, принятых в языке программирования Java. <br>
            Также найдете полезные ссылки на документацию, без которой не обойтись на нелегком пути разработчика.  <br>
            Последние новости позволять Вам не остаться в стороне от современных технологий и быть всегда в курсе событий.</p>

    <h3>Контактная информация</h3>
         <p>Связаться со мной, помочь в доработке и развити сайта всегда можете по следующим контактам: <br>
    <ul>
        <li class="telegram"><a href="https://t.me/DariaMDK" title="Share on Telegram">Telegram</a></li><br>
        <li class="vk"><a href="https://vk.com/id52942347" title="Share on Vkontakte">Vkontakte</a></li><br>
    </ul>

    <h3>Полезные ссылки:</h3>
<div1>
    <li class="spring"><a href="https://spring.io/" title="">Spring - официальный сайт.</a></li><br>
    <li class="jetbrains"><a href="https://www.jetbrains.com/ru-ru/" title="">JetBrains - официальный сайт.</a></li><br>
    <li class="java"><a href="https://www.java.com/ru/" title="">Java - официальный сайт.</a></li><br>
    <li class="mysql"><a href="https://www.mysql.com/" title="">MySql - официальный сайт одной из популярных баз данных.</a></li><br>
    <li class="habr"><a href="https://habr.com/en/" title="">Habr - один из самых популярных сайтов с новостями и статьями в IT-сфере.</a></li><br>
</div1>


         </p>
    <p><script type="text/javascript" charset="utf-8"
    async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab3879da6bb348da3c9dc3bc4c4a3e5c57c00345299d93321d8fa5a2b170151e2&amp;
    width=500&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script></p>

    <div class="footer">
        &copy; Дарья Милорадова
    </div>
</div>

<link rel="stylesheet" href="static/style.css" type="text/css">
</body>
</html>