<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Msite</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>

</body>
<div class="container">

    <h2>Msite </h2>

    <img src="logo.png" width="70" height="70" alt="Логотип" class="left-img"/>


    <br><br>
    <nav>
            <a href = "/head">Главная</a>
            <a href = "/about">О сайте</a>
            <a href = "/about">Контакты</a>
            <a href = "/login">Авторизация</a>
    </nav>

    <br> <br>
    <figure>
        <img src="logos.jpg" width="930" height="400" alt="Основная картинка" class="center-img"/>
    </figure>
    <br><br><br>

 </div>
<br><br>


<script src="http://code.jquery.com/jquery-latest.js"></script>
<style>
h3 { cursor:pointer;}
</style>
</head>

<body><br><br>
<h3><u>Основные разделы:</u></h3><br>
<div class="box">
    <h3><span>Объектно-ориентированное программирование (ООП)</span></h3>
    <ul>
        <li><b>Основные принципы ООП:</b></li>
        <ol>
            <li><b>Инкапсуляция</b> - это свойство системы, позволяющее объединить данные и методы, работающие с ними, в классе и скрыть детали реализации от пользователя, открыв только то, что необходимо при последующем использовании.<br>
                Цель инкапсуляции — уйти от зависимости внешнего интерфейса класса (то, что могут использовать другие классы) от реализации. Чтобы малейшее изменение в классе не влекло за собой изменение внешнего поведения класса. </li>
            <li><b>Наследование</b> - это свойство системы, позволяющее описать новый класс на основе уже существующего с частично или полностью заимствующейся функциональностью. <br>
                Класс, от которого производится наследование, называется предком, базовым или родительским. Новый класс – потомком, наследником или производным классом.</li>
            <li><b>Полиморфизм</b> - то свойство системы использовать объекты с одинаковым интерфейсом без информации о типе и внутренней структуре объекта.<br>
                Преимуществом полиморфизма является то, что он помогает снижать сложность программ, разрешая использование одного и того же интерфейса для задания единого набора действий. </li>
        </ol>
        <li><b>Основные понятия ООП:</b></li>
        <ol>
            <li><b>Класс</b> – это способ описания сущности, определяющий состояние и поведение, зависящее от этого состояния, а также правила для взаимодействия с данной сущностью (контракт).<br>
                С точки зрения программирования класс можно рассматривать как набор данных (полей, атрибутов, членов класса) и функций для работы с ними (методов). </li>
            <li><b>Объект (экземпляр)</b> – это отдельный представитель класса, имеющий конкретное состояние и поведение, полностью определяемое классом.<br>
                Каждый объект имеет конкретные значения атрибутов и методы, работающие с этими значениями на основе правил, заданных в классе.</li>
            <li><b>Интерфейс</b> – это набор методов класса, доступных для использования. Интерфейсом класса будет являться набор всех его публичных методов в совокупности с набором публичных атрибутов.<br>
                По сути, интерфейс специфицирует класс, чётко определяя все возможные действия над ним.</li>
        </ol>
    </ul>
</div>
<div class="box">
    <h3><span>Коллекции</span></h3>
    <ul>
        <li><b>Что такое коллекция?</b></li>
            <ol>
                <li><b>Коллекция</b> - это структура данных, набор каких-либо объектов. Данными (объектами в наборе) могут быть числа, строки, объекты пользовательских классов и т.п.</li>
                <li><b>Интерфейс Collection</b> расширяют интерфейсы:<br>
                    List (список) представляет собой коллекцию, в которой допустимы дублирующие значения.<br>
                    Set (сет) описывает неупорядоченную коллекцию, не содержащую повторяющихся элементов.<br>
                    Queue (очередь) предназначена для хранения элементов с предопределённым способом вставки и извлечения FIFO (first-in-first-out).<br>
                </li>
            </ol>
        <br>
        <li><b>Как между собой связаны Iterable и Iterator?</b> <br>
            Интерфейс Iterable имеет только один метод - iterator(), который возвращает Iterator. <br>
        </li>
        <br>
        <li><b>Возможности ArrayList</b> </li>
        <ol>
            <li>доступ к произвольному элементу по индексу за константное время O(1);</li>
            <li>доступ к элементам по значению за линейное время O(N);</li>
            <li>удаление произвольного элемента из списка занимает значительное время т.к. при этом все элементы, находящиеся «правее» смещаются на одну ячейку влево (реальный размер массива (capacity) не изменяется);</li>
            <li>вставка элемента в произвольное место списка занимает значительное время т.к. при этом все элементы, находящиеся «правее» смещаются на одну ячейку вправо;</li>
        </ol>
        <br>
    </ul>
</div>
<div class="box">
    <h3><span>Многопоточность</span></h3>
    <ul>
        <li><b>Чем отличается процесс от потока?</b></li>
        <ol>
            <li><b>Процесс</b> — экземпляр программы во время выполнения, независимый объект, которому выделены системные ресурсы (например, процессорное время и память).<br>
                Каждый процесс выполняется в отдельном адресном пространстве: один процесс не может получить доступ к переменным и структурам данных другого. </li>
            <li><b>Поток(thread) </b> — определенный способ выполнения процесса, определяющий последовательность исполнения кода в процессе.<br>
                Потоки всегда создаются в контексте какого-либо процесса, и вся их жизнь проходит только в его границах. <br>
                Потоки могут исполнять один и тот же код и манипулировать одними и теми же данными. <br></li>
        </ol>
        <br>
        <li><b>Каким образом можно создать поток?</b> </li>
        <ol>
            <li>Создать потомка класса Thread и переопределить его метод run();</li>
            <li>Создать объект класса Thread, передав ему в конструкторе экземпляр класса, реализующего интерфейс Runnable. <br>
                         Эти интерфейс содержит метод run(), который будет выполняться в новом потоке. <br>
                         Поток закончит выполнение, когда завершится его метод run().</li>
            <li>Вызвать метод submit() у экземпляра класса реализующего интерфейс ExecutorService, передав ему в качестве параметра экземпляр класса реализующего интерфейс Runnable или Callable (содержит метод call(), в котором описывается логика выполнения).</li>
        </ol>
        <br>

        <li><b>Как принудительно запустить поток?</b> </li>
        Никак. В Java не существует абсолютно никакого способа принудительного запуска потока. Это контролируется JVM и Java не предоставляет никакго API для управления этим процессом.
        <br><br>

        <li><b>Дайте определение понятию «синхронизация».</b> </li>
        Синхронизация это процесс, который позволяет выполнять потоки параллельно.
        В Java все объекты имеют одну блокировку, благодаря которой только один поток одновременно может получить доступ к критическому коду в объекте. Такая синхронизация помогает предотвратить повреждение состояния объекта.<br>
        Если поток получил блокировку, ни один другой поток не может войти в синхронизированный код, пока блокировка не будет снята. Когда поток, владеющий блокировкой, выходит из синхронизированного кода, блокировка снимается.<br>
        Теперь другой поток может получить блокировку объекта и выполнить синхронизированный код. Если поток пытается получить блокировку объекта, когда другой поток владеет блокировкой, поток переходит в состояние Блокировки до тех пор, пока блокировка не снимется.
    </ul>
</div>
<script>
$(document).ready(function(){
$("ul").hide();
$("h3 span").click(function(){
$(this).parent().next().slideToggle();
});
});
</script>

<br><br>


<rssapp-wall id="ZAtrg0v2pD6Noo0w"></rssapp-wall><script src="https://widget.rss.app/v1/wall.js" type="text/javascript" async></script>

        <div class="footer">
            &copy; Дарья Милорадова
        </div>

<link rel="stylesheet" href="static/style.css" type="text/css">

</body>
</html>