<!DOCTYPE html>


<head>
    <title>Login Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<input>
<div class="d-flex justify-content-center">
    test
</div>
<h2>Login page</h2>
<p style="margin-left: 40px"><img src="logo.png" width="70" height="70" alt="Логотип" class="left-img"/>
    <nav>
        <a href="/">Страница авторизации</a>
        <a href="/head">Главная</a>
        <a href="/about">О сайте/Контакты</a>
    </nav>
    <br><br><br>
    <div class="d-flex flex-column align-items-center">
        <form action="/login_proc" method="post">
            <div>
                <label>
                    <p align="center" >User Name : </p>
                    <input type="text" name="username"/>
                </label>
            </div>
            <div>
                <label>
                    <p align="center">Password: </p>
                    <input type="password" name="password"/>
                </label>
            </div>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <div>
                <input type="submit" class="w-100"/>
                <p  align="center"value="Sign In"/>
            </div>
            <br>
        </form>
        <a href="/registration">Add new user</a>
    </div>

</body>
</html>